{{!-- template-lint-disable no-nested-interactive --}}

<fieldset class="event-search">
  <Generic::Input @label="Search" type="search" @value={{this.filter}} @class="event-search__search" />
  <Generic::Input
    @label="Event Type"
    @options={{this.EVENT_TYPES}}
    @opt={{this.eventType}}
    @onChange={{fn (mut this.eventType)}}
  />
  {{!-- <fieldset>
    <legend>Days</legend>
    <ul>
      <li><Generic::Input @label="Wed" @checked={{}} /></li>
      <li><Generic::Input @label="Thu" @checked={{}} /></li>
      <li><Generic::Input @label="Fri" @checked={{}} /></li>
      <li><Generic::Input @label="Sat" @checked={{}} /></li>
      <li><Generic::Input @label="Sun" @checked={{}} /></li>
    </ul>
  </fieldset> --}}

  <details class="adv-filters">
    <summary>Advanced filters</summary>
    <ul>
      <li><Generic::Input @label="Game ID" @value={{this.gameId}} /></li>
      <li><Generic::Input @label="Title" @value={{this.title}} /></li>
      <li><Generic::Input @label="Group" @value={{this.group}} /></li>
      <li><Generic::Input @label="Short Desc" @value={{this.shortDescription}} /></li>
      <li><Generic::Input @label="Long Desc" @value={{this.longDescription}} /></li>
      <li><Generic::Input @label="Game System" @value={{this.gameSystem}} /></li>
      <li><Generic::Input @label="Rules Edition" @value={{this.rulesEdition}} /></li>
      <li>
        <Generic::Input
          @label="Min Players"
          @type="range"
          @minValue={{this.minPlayersMin}}
          @maxValue={{this.minPlayersMax}}
        />
      </li>
      <li>
        <Generic::Input
          @label="Max Players"
          @type="range"
          @minValue={{this.maxPlayersMin}}
          @maxValue={{this.maxPlayersMax}}
        />
      </li>
      <li>
        <Generic::Input
          @label="Age Required"
          @options={{this.AGE_GROUPS}}
          @opt={{this.ageRequired}}
          @onChange={{fn (mut this.ageRequired)}}
        />
      </li>
      <li>
        <Generic::Input
          @label="Experience Required"
          @options={{this.EXP}}
          @opt={{this.experienceRequired}}
          @onChange={{fn (mut this.experienceRequired)}}
        />
      </li>
      <li><Generic::Input @label="Materials Provided" @value={{this.materialsProvided}} @boolChange={{fn (mut this.materialsProvided)}} /></li>
      <li>
        <Generic::Input
          @label="Start Date"
          @type="date-range"
          @startValue={{this.startDateTimeStart}}
          @endValue={{this.startDateTimeEnd}}
        />
      </li>
      <li>
        <Generic::Input
          @label="Duration"
          @type="range"
          @minValue={{this.durationMin}}
          @maxValue={{this.durationMax}}
        />
      </li>
      <li>
        <Generic::Input
          @label="End Date"
          @type="date-range"
          @startValue={{this.endDateTimeStart}}
          @endValue={{this.endDateTimeEnd}}
        />
      </li>
      <li><Generic::Input @label="Game Masters" @value={{this.gmNames}} /></li>
      <li><Generic::Input @label="Website" @value={{this.website}} /></li>
      <li><Generic::Input @label="Email" @value={{this.email}} /></li>
      <li><Generic::Input @label="Tournament" @value={{this.tournament}} @boolChange={{fn (mut this.tournament)}} /></li>
      <li>
        <Generic::Input
          @label="Round Number"
          @type="range"
          @minValue={{this.roundNumberMin}}
          @maxValue={{this.roundNumberMax}}
        />
      </li>
      <li>
        <Generic::Input
          @label="Total Rounds"
          @type="range"
          @minValue={{this.totalRoundsMin}}
          @maxValue={{this.totalRoundsMax}}
        />
      </li>
      <li>
        <Generic::Input
          @label="Minimum Play Time"
          @type="range"
          @minValue={{this.minimumPlayTimeMin}}
          @maxValue={{this.minimumPlayTimeMax}}
        />
      </li>
      <li>
        <Generic::Input
          @label="Attendee Registration"
          @options={{this.REGISTRATION}}
          @opt={{this.attendeeRegistration}}
          @onChange={{fn (mut this.attendeeRegistration)}}
        />
      </li>
      <li>
        <Generic::Input
          @label="Cost"
          @type="range"
          @minValue={{this.costMin}}
          @maxValue={{this.costMax}}
        />
      </li>
      <li><Generic::Input @label="Location" @value={{this.location}} /></li>
      <li><Generic::Input @label="Room Name" @value={{this.roomName}} /></li>
      <li><Generic::Input @label="Table" @value={{this.tableNumber}} /></li>
      <li>
        <Generic::Input
          @label="Special Category"
          @options={{this.CATEGORY}}
          @type={{this.specialCategory}}
          @onChange={{fn (mut this.specialCategory)}}
        />
      </li>
      <li>
        <Generic::Input
          @label="Tickets Available"
          @type="range"
          @minValue={{this.ticketsAvailableMin}}
          @maxValue={{this.ticketsAvailableMax}}
        />
      </li>
      <li>
        <Generic::Input
          @label="Last Modified"
          @type="date-range"
          @startValue={{this.lastModifiedStart}}
          @endValue={{this.lastModifiedEnd}}
        />
      </li>
    </ul>
  </details>

  <button type="button" {{on 'click' this.search}}>Search</button>
</fieldset>
