<table>
  <caption>Event data</caption>
  <tbody>
    <tr>
      <th scope="row">Title</th>
      <td>{{@data.title}}</td>
    </tr>
    <tr>
      <th scope="row">Type</th>
      <td>{{@data.eventType}}</td>
    </tr>
    <tr>
      <th scope="row">Group</th>
      <td>{{@data.group}}</td>
    </tr>
    <tr>
      <th scope="row">Short Desc</th>
      <td>{{@data.sDesc}}</td>
    </tr>
    <tr>
      <th scope="row">Long Desc</th>
      <td>{{@data.lDesc}}</td>
    </tr>
    <tr>
      <th scope="row">System</th>
      <td>{{@data.system}}</td>
    </tr>
    <tr>
      <th scope="row">Edition</th>
      <td>{{@data.edition}}</td>
    </tr>
    <tr>
      <th scope="row">Min Players</th>
      <td>{{@data.minPlayers}}</td>
    </tr>
    <tr>
      <th scope="row">Max Players</th>
      <td>{{@data.maxPlayers}}</td>
    </tr>
    <tr>
      <th scope="row">Age Req</th>
      <td>{{@data.ageReq}}</td>
    </tr>
    <tr>
      <th scope="row">Exp Req</th>
      <td>{{@data.exp}}</td>
    </tr>
    <tr>
      <th scope="row">Materials</th>
      <td>{{@data.materials}}</td>
    </tr>
    <tr>
      <th scope="row">Day</th>
      <td>{{this.day @data.start}}</td>
    </tr>
    <tr>
      <th scope="row">Start</th>
      <td>{{this.time @data.start}}</td>
    </tr>
    <tr>
      <th scope="row">Duration</th>
      <td>{{@data.duration}}</td>
    </tr>
    <tr>
      <th scope="row">End</th>
      <td>{{this.time @data.end}}</td>
    </tr>
    <tr>
      <th scope="row">GMs</th>
      <td>{{@data.gameMasters}}</td>
    </tr>
    <tr>
      <th scope="row">Website</th>
      <td>{{@data.website}}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{@data.email}}</td>
    </tr>
    <tr>
      <th scope="row">Tournament</th>
      <td>{{@data.tournament}}</td>
    </tr>
    <tr>
      <th scope="row">Round</th>
      <td>{{@data.round}}</td>
    </tr>
    <tr>
      <th scope="row">Total Rounds</th>
      <td>{{@data.totalRounds}}</td>
    </tr>
    <tr>
      <th scope="row">Min Time</th>
      <td>{{@data.minTime}}</td>
    </tr>
    <tr>
      <th scope="row">Registration</th>
      <td>{{@data.registration}}</td>
    </tr>
    <tr>
      <th scope="row">Cost</th>
      <td>{{@data.cost}}</td>
    </tr>
    <tr>
      <th scope="row">Location</th>
      <td>{{@data.location}}</td>
    </tr>
    <tr>
      <th scope="row">Room</th>
      <td>{{@data.room}}</td>
    </tr>
    <tr>
      <th scope="row">Table</th>
      <td>{{@data.table}}</td>
    </tr>
    <tr>
      <th scope="row">Special Category</th>
      <td>{{@data.category}}</td>
    </tr>
    <tr>
      <th scope="row">Tickets Available</th>
      <td>{{@data.available}}</td>
    </tr>
    <tr>
      <th scope="row">Last Modified</th>
      <td>{{this.lastMod @data.lastModified}}</td>
    </tr>
  </tbody>
</table>
